<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>548552630692-avjqn4681cmkjd8jul777ga16e9f6n1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548552630692-avjqn4681cmkjd8jul777ga16e9f6n1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBYUZzbzylO1cJ2iazLjwrraOkqCJNmIZE</string>
	<key>GCM_SENDER_ID</key>
	<string>548552630692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soham.LocationChat</string>
	<key>PROJECT_ID</key>
	<string>locationchat-3d569</string>
	<key>STORAGE_BUCKET</key>
	<string>locationchat-3d569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:548552630692:ios:ad5b3c88b723ee9e</string>
	<key>DATABASE_URL</key>
	<string>https://locationchat-3d569.firebaseio.com</string>
</dict>
</plist>